/* css */

body {
    background-image: url('./Eo7p111W4AAyDsf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar Coloring */
.navbar-custom {
    background-color: #0C0A3E !important;
    
}
.text-primary {
    background: -webkit-linear-gradient(#F4F3EE , #6C698D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dropdown-menu {
    background-color: #0C0A3E !important;
}

.homePage h1, h3{
    text-align: center;
    font-size: 50px;
}

.homePage h2 {
    color: #0C0A3E;
    font-size: 80px;
}

.card-button {
    text-align: center;
}

.card {
    background-color: rgba(135, 132, 166, 0.65);
    border-radius: 40px;
}

.card-title, .card-text {
    color: #0C0A3E;
}

.btn {
    background: linear-gradient(to bottom, #0E9594, #0E3B43);
    color:#F4F3EE;
    border: none; /* Remove default border */
    outline: none; /* Remove default outline */
    border-radius: 50px; /* Use a large value for a pill shape */
}

.btn:hover {
    color: #0C0A3E;
}

.row-whith-wide-cards .card {
    width: 100%;
}

